package views

templ About(hxReq bool) {
	if !hxReq {
		@Base("About", about())
	} else {
		@about()
	}
}

templ about() {
	<h1 class="display-1">About</h1>
	<p>Work in progress. Come back later! 🛠️</p>
}
