package views

templ Home(hxReq bool) {
    if !hxReq {
        @Base("Home", home())
    } else {
        @home()
    }
}

templ home() {
    <h1>Home</h1>
    <p>Work in progress. Come back later! 🛠️</p>
}